{% macro display_archives(archives) -%} 
<h3 class="widget-title">Archiwa</h3>
			<ul>
	{% for post in archives %}
	<li><a href='{{ url_for('core_bp.month',year=post.created.year,month=post.created.month) }}'>{{ post.created.month |month_name }} / {{ post.created.year }}</a></li>
	{% endfor %}
	</ul>
{%- endmacro %} 

{% macro display_recent_posts(recent_posts) -%} 
<h3 class="widget-title">Najnowsze wpisy</h3>
<ul>
	{% for post in recent_posts %}
		<li><a href="{{ url_for('core_bp.post',year=post.created.year,month=post.created.month,slug=post.slug) }}">{{ post.title }}</a></li>
	{% endfor %}
</ul>
{%- endmacro %} 


{% macro display_categories(categories) -%} 
<ul>
	{% for category in categories %}
		<li class="cat-item cat-item-2"><a href="{{ url_for('core_bp.category',slug=category.slug) }}"> {{ category.name }}</a>
	{% endfor %}
</ul>

			</aside><aside id="meta-2" class="widget widget_meta"><h3 class="widget-title">Meta</h3>
		<ul>
			<li><a href="http://pgxc.pl/feed/">Kanał wpisów</a></li>
		</ul>

{%- endmacro %} 

{% macro display_menu() -%}
<div class="menu-menu-1-container"><ul id="menu-menu-1" class="menu"><li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-46"><a href="{{ url_for('core_bp.index') }}">Strona główna</a></li><li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48" style="pointer-events:none"><a href="#">Raporty pogodowe:</a></li>
                                                <li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48"><a href="{{ url_for('core_bp.page',slug='klifowy-raport-pogodowy') }}">Klifowy</a></li>
                                                <li id="menu-item-275" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-275"><a href="{{ url_for('core_bp.page',slug='sudety-raport-pogodowy') }}">Sudety</a></li>
                                                <li id="menu-item-275" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-275"><a href="{{ url_for('core_bp.page',slug='beskid-wyspowy-raport-pogodowy') }}">Beskid Wyspowy</a></li>
<li id="menu-item-49" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-49"><a href="https://leonardo.pgxc.pl">Polski Serwer LeonardoXC &#8211; leonardo.pgxc.pl</a></li>
</ul></div>
{%- endmacro %}
